body {
    background-color: aliceblue;
}

#imgLeft{
    height: 250px;
    width: 250px;
    border-radius: 50px;
}

#imgCenter{
    height: 250px;
    width: 250px;
    border-radius: 50px;
}

#imgRight{
    height: 250px;
    width: 250px; 
    border-radius: 50px; 
}

